# Database 
PG_HOST= your_host
PG_PORT= your_port
PG_USER= your_user
PG_PASSWORD= your_password
PG_DB= your_db

# secure
JWT_ACCESS_SECRET=your_access_token
JWT_REFRESH_SECRET=your_refresh_token 

ACCESS_TOKEN_EXPIRES= 15m
REFRESH_TOKEN_EXPIRES= 7d